/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

html {
  font-family: sans-serif;
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

a, button  {
  font-family: 'Mulish', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25;
  display: block;
  letter-spacing: 0.8px;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

img, svg {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quattrocento', serif;
  font-weight: 400;
  line-height: 1.35;
  margin: 0;
  color: #5E302C;
}

p {
  font-size: 1.0625rem;
  line-height: 1.55;
  letter-spacing: 0.5px;
  margin: 0;
}

span {
  letter-spacing: 0.5px;
}
  
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.bg--dark {
  background: #FBF2EF;
}

.bg--darker {
  background: #FAEBE7;
}

.bg--orange {
  background: #F0986B;
}

.bg--pink {
  background: #FCEFEC;
}

.bg--blue {
  background: #EDF2F6;
}

/* Buttons */
.btn__solid {
  display: inline-block;
  color: #fff;
  word-spacing: 2px;
  padding: 1rem 2.625rem;
  background: #ED836E;
  border: 1.5px solid #ED836E;
  transition: all 0.5s ease;
}

.btn__solid:hover {
  color: #ED836E;
  background: transparent;
  transition: all 0.5s ease;
}

.btn__link {
  display: inline-block;
  color: #ED836E;
  position: relative;
}

.btn__link:before {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 100%;
  height: 1px;
  background: #F6DCD5;
  transition: all 0.3s ease;
}

.btn__link:hover::before {
  background: #F6C3B6;
  transition: all 0.3s ease;
}

/* Typography */
.text--plight {
  color: #746D6D;
}

.text--light {
  color: #F6F4F4;
}

.text--dark {
  color: #5E302C;
}

.text--primary {
  color: #614644;
}

.text--small {
  font-size: 0.9375rem;
}

.text--salmon {
  color: #EB786F;
}

.text--peach {
  color: #ED836E;
}

.text--blue {
  color: #76A2BC;
}

.text-center {
  text-align: center;
}

.font--600 {
  font-weight: 600;
}

/* Layout & Grid */
.container {
  width: 100%;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

.relative {
  position: relative;
}

@media (min-width: 412px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 600px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 55px;
  }
}

@media (min-width: 1367px) {
  .container {
    padding: 0 100px;
  }
}

@media (min-width: 1600px) {
  .container {
    padding: 0 7.5%;
    max-width: 1860px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
}

/* Margins & Padding */
.mb-20 {
  margin-bottom: 1.25rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.mb-60 {
  margin-bottom: 3.75rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.m-0 {
  margin: 0 !important;
}

.mx-auto {
  margin: 0 auto;
}


.border-top {
  border-top: 1px solid #F6DCD5;
}

.border-bottom {
  border-bottom: 1px solid #F6DCD5;
}

/* Display Property */
.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: -ms-flexbox;
  display: flex;
}

.d-inline-flex {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.d-inline-grid {
  display: inline-grid;
}

.flex-1 {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none;
  }
  .d-sm-inline {
    display: inline;
  }
  .d-sm-inline-block {
    display: inline-block;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-flex {
    display: -ms-flexbox;
    display: flex;
  }
  .d-sm-inline-flex {
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none;
  }
  .d-md-inline {
    display: inline;
  }
  .d-md-inline-block {
    display: inline-block;
  }
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: -ms-flexbox;
    display: flex;
  }
  .d-md-inline-flex {
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .d-md-grid {
    display: grid;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-inline {
    display: inline;
  }
  .d-lg-inline-block {
    display: inline-block;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-flex {
    display: -ms-flexbox;
    display: flex;
  }
  .d-lg-inline-flex {
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }
  .d-xl-inline {
    display: inline;
  }
  .d-xl-inline-block {
    display: inline-block;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-flex {
    display: -ms-flexbox;
    display: flex;
  }
  .d-xl-inline-flex {
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.justify-content-center {
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.justify-content-end {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-items-center {
  -ms-flex-align: center;
  align-items: center;
}

.align-items-end {
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 600px) {
  .flex-sm-row {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .flex-sm-column {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .justify-content-sm-start {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .justify-content-sm-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .justify-content-sm-center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .justify-content-sm-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .justify-content-sm-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .align-items-sm-start {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .align-items-sm-end {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .align-items-sm-center {
    -ms-flex-align: center;
    align-items: center;
  }
  .align-items-sm-baseline {
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

@media (min-width: 768px) {
  .flex-md-row {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .flex-md-column {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .justify-content-md-start {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .justify-content-md-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .justify-content-md-center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .justify-content-md-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .justify-content-md-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .align-items-md-start {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .align-items-md-end {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .align-items-md-center {
    -ms-flex-align: center;
    align-items: center;
  }
  .align-items-md-baseline {
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

@media (min-width: 992px) {
  .flex-lg-row {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .flex-lg-column {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .justify-content-lg-start {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .justify-content-lg-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .justify-content-lg-center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .justify-content-lg-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .justify-content-lg-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .align-items-lg-start {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .align-items-lg-end {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .align-items-lg-center {
    -ms-flex-align: center;
    align-items: center;
  }
  .align-items-lg-baseline {
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

@media (min-width: 1200px) {
  .flex-xl-row {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .flex-xl-column {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .justify-content-xl-start {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .justify-content-xl-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .justify-content-xl-center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .justify-content-xl-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .justify-content-xl-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .align-items-xl-start {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .align-items-xl-end {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .align-items-xl-center {
    -ms-flex-align: center;
    align-items: center;
  }
  .align-items-xl-baseline {
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}


/* Slick Slider CSS */
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
