@media only screen and (max-width: 359px) {
  /*--------------------------------------------------------------
  # Curve Images
  --------------------------------------------------------------*/
  .curve__img {
    max-width: 100%;
  }
  .curve__el {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  /*--------------------------------------------------------------
  # Curve Images
  --------------------------------------------------------------*/
  .curve__el {
    height: 94px;
  }
  .curve--left {
    left: -47px;
  }
  .curve--right {
    right: -47px;
  }
  .curve__svg {
    width: 94px;
    height: 94px;
  }
  .curve__el span {
    font-size: 1rem;
  }
  .curve--left span {
    margin-left: 1.5625rem;
  }
  .curve--right span {
    margin-right: 1.5625rem;
  }
}

@media only screen and (min-width: 600px) {
  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/
  p {
    font-size: 1.125rem;
  }
  .title--one {
    font-size: 2.25rem;
  }
}

@media only screen and (min-width: 992px) {
  /*--------------------------------------------------------------
  # Margins & Padding
  --------------------------------------------------------------*/
  .pt-header {
    padding-top: 6.875rem;
  }
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  .order--mob {
    order: 0;
  }
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .navbar {
    position: relative;
    height: auto;
    background: transparent;
    width: auto;
    transition: none;
    left: unset;
    overflow: unset;
  }
  .navbar__inner {
    padding: 0;
  }
  .menu__link {
    padding: 0 1.125rem;
    color: #746D6D;
    transition: color 0.5s ease;
  }
  .menu__link:hover {
    color: #5E302C;
    transition: color 0.5s ease;
  }
  .contact--link {
    color: #ED836E;
    padding: 0 !important;
    margin-left: 1.125rem;
  }
  .contact--link:before {
    visibility: visible;
  }
  .contact--link:hover {
    color: #ED836E;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .title--one {
    font-size: 1.875rem;
  }
  .overview__content {
    max-width: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .menu__link {
    padding: 0 1.375rem;
  }
  /*--------------------------------------------------------------
  # Curve Images
  --------------------------------------------------------------*/
  .curve__img {
    max-width: 100%;
  }
}