@media only screen and (max-width: 359px) {
  /*--------------------------------------------------------------
  # Curve Images
  --------------------------------------------------------------*/
  .curve__img {
    max-width: 100%;
  }
  .curve__el {
    display: none;
  }
  .service__block--text p {
    word-spacing: 0;
    font-size: 0.6875rem;
  }
}

@media only screen and (min-width: 400px) {
  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/
  .title--one {
    font-size: 1.625rem;
  }
  .section__sub {
    font-size: 2.375rem;
  }
  /*--------------------------------------------------------------
  # Services Section
  --------------------------------------------------------------*/
  .service__block--text p {
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 480px) {
  .btn__solid {
    padding: 1.0625rem 3.3125rem;
  }
  /*--------------------------------------------------------------
  # Curve Images
  --------------------------------------------------------------*/
  .curve__el {
    height: 94px;
  }
  .curve--left {
    left: -47px;
  }
  .curve--right {
    right: -47px;
  }
  .curve__svg {
    width: 94px;
    height: 94px;
  }
  .curve__el span {
    font-size: 1rem;
  }
  .curve--left span {
    margin-left: 1.5625rem;
  }
  .curve--right span {
    margin-right: 1.5625rem;
  }
  .service__block--text {
    padding: 0 10%;
  }
}

@media only screen and (min-width: 600px) {
  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/
  p {
    font-size: 1.125rem;
    word-spacing: 0;
  }
  .title--one {
    font-size: 2.125rem;
  }
  .service--title {
    font-size: 1.0625rem;
  }
  .section__sub {
    font-size: 2.5rem;
  }
  /*--------------------------------------------------------------
  # Services Section
  --------------------------------------------------------------*/
  .service__block--text {
    padding: 0 6.5%;
  }
  .service__block--text p {
    font-size: 1rem;
  }
  /*--------------------------------------------------------------
  # Testimonials Section
  --------------------------------------------------------------*/
  .testimonials__header {
    max-width: 440px;
  }
  .testimonial__box {
    padding-top: 7rem;
  }
  .testimonial__inner {
    padding: 8rem 3.125rem 3.125rem;
  }
  .feature__user--img {
    right: 3.125rem;
  }
  .feature__user--img img {
    max-width: 160px;
  }
}

@media only screen and (min-width: 768px) {
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  .section--padding {
    padding: 5.3125rem 0;
  }
  .header_space {
    margin-bottom: 6.5625rem;
  }
  .mb-th {
    margin-bottom: 2.5rem;
  }
  /*--------------------------------------------------------------
  # Services Section
  --------------------------------------------------------------*/
  .service__block {
    margin-bottom: 5rem;
    max-width: 250px;
  }
  .service__block--content {
    max-width: 250px;
  } 
  .order-1  {
    order: 1;
  }
  .order-2  {
    order: 2;
  }
  .order-3  {
    order: 3;
  }
  .order-4  {
    order: 4;
  }
}

@media only screen and (min-width: 992px) {
  /*--------------------------------------------------------------
  # Margins & Padding
  --------------------------------------------------------------*/
  .pt-header {
    padding-top: 6.875rem;
  }
  .mb-ow {
    margin-bottom: 0;
  }
  .mt-ex {
    margin-top: 2.5rem;
  }
  .mt-cm {
    margin-top: 6.25rem;
  }
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  .order--mob {
    order: 0;
  }
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .navbar {
    position: relative;
    height: auto;
    background: transparent;
    width: auto;
    transition: none;
    left: unset;
    overflow: unset;
  }
  .navbar__inner {
    padding: 0;
  }
  .menu__link {
    padding: 0 1.125rem;
    color: #746D6D;
    transition: color 0.5s ease;
  }
  .menu__link:hover {
    color: #5E302C;
    transition: color 0.5s ease;
  }
  .contact--link {
    color: #ED836E;
    padding: 0 !important;
    margin-left: 1.125rem;
  }
  .contact--link:before {
    visibility: visible;
  }
  .contact--link:hover {
    color: #ED836E;
  }
  /*--------------------------------------------------------------
  # Overview Section
  --------------------------------------------------------------*/
  .content__01 {
    max-width: 450px;
  }
  .content__02 {
    max-width: 490px;
  }
  /*--------------------------------------------------------------
  # Services Section
  --------------------------------------------------------------*/
  .order {
    order: unset;
  }
  .order-1 .service__block, .order-3 .service__block {
    margin-bottom: 0;
  }
  /*--------------------------------------------------------------
  # Testimonials Section
  --------------------------------------------------------------*/
  .tm--ind {
    padding-top: 7rem;
    height: 100%;
  }
  .tm--ind .slick-dots {
    flex-direction: column;
  }
  .tm--ind .slick-dots li {
    margin: 0.5rem 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .title--one {
    font-size: 1.875rem;
  }
  .overview__content {
    max-width: 93%;
  }
}

@media only screen and (min-width: 1200px) {
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .menu__link {
    padding: 0 1.375rem;
  }
  /*--------------------------------------------------------------
  # Curve Images
  --------------------------------------------------------------*/
  .curve__img {
    max-width: 100%;
  }
  /*--------------------------------------------------------------
  # Services Section
  --------------------------------------------------------------*/
  .service__block {
    max-width: unset;
    margin-bottom: 6.25rem;
  }
  .service__block--content {
    max-width: unset;
  }
  .service__block--text {
    padding: 0 8%;
    top: 42%;
  }
  .service--title {
    margin-top: 1.875rem;
  }
  .service__block--text p {
    font-size: 1.125rem;
  }
  /*--------------------------------------------------------------
  # Testimonials Section
  --------------------------------------------------------------*/
  .mb-th {
    margin-bottom: 0;
  }
  .slick-list{
    padding:0 20% 0 0;
  }
  .slick-slide {
    margin-right: 3rem;
  }
  .section__testimonials .container {
    padding-right: 0;
  }
  .testimonial__box {
    padding-top: 8.75rem;
  }
  .testimonial__inner {
    padding: 10.625rem 5.625rem 4.375rem;
  }
  .feature__user--img {
    right: 5.625rem;
  }
  .feature__user--img img {
    max-width: unset;
  }
}