/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #FDF7F5;
  font-family: 'Mulish', sans-serif;
  color: #614644;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
.title--one {
  font-size: 1.375rem;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.section--padding {
  padding: 5.625rem 0;
}

.section__sub {
  font-family: 'Italianno', cursive;
  font-size: 2rem;
  line-height: 1;
}

.header_space {
  margin-bottom: 5.625rem;
}

.services__header {
  max-width: 620px;
}

.testimonials__header {
  max-width: 400px;
}

.order--mob {
  order: 1;
}

/*--------------------------------------------------------------
# Margins & Padding
--------------------------------------------------------------*/
.pt-header {
  padding-top: 6.25rem;
}

.mb-ow {
  margin-bottom: 3.75rem;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 999;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.scrolled {
  background: #FDF7F5;
  border-color: #fceae5;
  height: 75px !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.header__logo img {
  max-height: 40px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.scrolled .header__logo img {
  max-height: 36px;
}

/*--------------------------------------------------------------
# Mobile Menu
--------------------------------------------------------------*/
.toggle__menu {
  cursor: pointer;
  margin: 0 0 0.5rem 1.25rem;
}

.toggle__menu svg {
  max-width: 28px;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #FBF2EF;
  z-index: 2;
  overflow-y: auto;
  -webkit-transition: height 0.7s ease; 
  -moz-transition: height 0.7s ease;
  transition: height .7s ease;
}

.navbar__mobile {
  height: 100%;
  -webkit-transition: height 0.7s ease; 
  -moz-transition: height 0.7s ease;
  transition: height .7s ease;
}

.mobile__header {
  height: 100px;
}

.menu_close svg {
  transform: rotate(0);
  transform-origin: center center;
  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease;
  transition: transform .5s ease;
}

.navbar__mobile .menu_close svg {
  transform: rotate(180deg);
  -webkit-transition: transform .8s ease;
  -moz-transition: transform .8s ease;
  transition: transform .8s ease;
}

.navbar__inner {
  padding: 2.5rem;
}

.menu__link {
  display: block;
  padding: 0.8125rem 0;
  color: #614644;
}

.contact--link:before {
  visibility: hidden;
}

.logo--mobile img {
  max-height: 40px;
}

.mobile__footer {
  padding-top: 3rem;
}

.contact_box__links {
  font-size: 1.0625rem;
  margin-bottom: 0.625rem;
}

/*--------------------------------------------------------------
# Curve Images
--------------------------------------------------------------*/
.curve__img {
  max-width: 92%;
}

.curve__el {
  position: absolute;
  height: 74px;
  top: 50px;
  display: flex;
  align-items: center;
}

.curve--left {
  left: -37px;
}

.curve--right {
  right: -37px;
}

.curve__svg {
  height: 74px;
  width: 74px;
  position: absolute;
}

.curve__svg svg {
  width: 100%;
  height: 100%;
}

.curve--right .curve__svg {
  right: 0;
}

.curve__el span {
  display: block;
  font-size: 0.8125rem;
  font-weight: 600;
  white-space: nowrap;
}

.curve--left span {
  margin-left: 0.75rem;
}

.curve--right span {
  margin-right: 0.75rem;
}


/*--------------------------------------------------------------
# Overview Section
--------------------------------------------------------------*/
.overview__content {
  max-width: 460px;
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.service__block {
  margin-bottom: 4.0625rem;
  max-width: 240px;
}

.order-3 .service__block {
  margin-bottom: 0;
}

.service__block--content {
  max-width: 240px;
  height: max-content;
}

.service__block--text {
  position: absolute;
  top: 38%;
  padding: 0 6%;
}

.service--title {
  font-size: 1.0625rem;
  margin-top: 1.5rem;
}

.reviv--block .reviv--logo {
  position: absolute;
  max-height: 160px;
}

/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.testimonial__box {
  padding-top: 6.125rem;
}

.testimonial__inner {
  background: #FCEFEC;
  padding: 6.875rem 2rem 2.5rem;
}

.slick-slide:nth-child(odd) .testimonial__inner {
  background: #EDF2F6;
}

.slick-slide:nth-child(odd) .testimonial__content {
  color: #415967;
}

.feature__user--name {
  color: #5E302C;
}

.slick-slide:nth-child(odd) .feature__user--name {
  color: #00263D;
}

.feature__user--img {
  position: absolute;
  top: 0;
  right: 2rem;
}

.feature__user--img img {
  max-width: 140px;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  margin: 1.5rem 0.4375rem 0;
}

.slick-dots li button {
  font-size: 0;
  width: 0.5625rem;
  height: 0.5625rem;
  border-radius: 100%;
  background: rgba(237, 131, 110, 0.4);
}

.slick-dots li button:focus {
  outline: none;
  box-shadow: none;
}

.slick-dots .slick-active button {
  background: #5E302C;
}

/*--------------------------------------------------------------
# Press Section
--------------------------------------------------------------*/
.press__block {
  max-width: 340px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


