/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #FDF7F5;
  font-family: 'Mulish', sans-serif;
  color: #614644;
  font-weight: 400;
  margin: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 999;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.header__logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Mobile Menu
--------------------------------------------------------------*/
.toggle__menu {
  cursor: pointer;
  margin: 0 0 0.5rem 1.25rem;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #FBF2EF;
  transition: height .5s ease;
  z-index: 2;
  overflow-y: auto;
}

.navbar__mobile {
  height: 100%;
  transition: height .5s ease;
}

.mobile__header {
  height: 100px;
}

.navbar__inner {
  padding: 2.5rem;
}

.menu__link {
  position: relative;
  display: block;
  padding: 0.8125rem 0;
  font-size: 0.875rem;
  color: #614644;
}

.logo--mobile img {
  max-height: 40px;
}

.contact_box__links {
  font-size: 1.0625rem;
  margin-bottom: 0.625rem;
}

